# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Data
data/

# Model checkpoints
*.pth
*.pt

# OS
.DS_Store

outputs/checkpoints/
